.spinLogo {
    animation: autoSpinLogo infinite 20s linear;
    height: 40vmin;
    font-size: 8em;
    color: rgb(119, 174, 255, 0.5);
    /* pointer-events: none; */
    -webkit-transition: 0.1s all ease-out;
    -o-transition: 0.1s all ease-out;
    transition: 0.3s all ease-out;
    padding: 5px 5px 5px 5px;
}
.spinLogo:hover {
    font-size: 10em;
    color: rgb(163, 199, 251, 0.8);
  }

@keyframes autoSpinLogo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.textHead {
    /*background-color: #56ff13;*/
    width: 100%;
    height: 120px;
    line-height: 120px;
    color: #ffffff;
    text-shadow: 0.1em -0.1em #666666;
    font-size: 1.5em;
    font-weight: 1000;
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
}