/*boxflex system*/
.box {
    display: inline-flex;
    padding: 5vw 5h;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.boxstyle {
    flex: 1 1 1;
    width: 300px;
    height: 200px;
    margin: 30px 30px 30px 30px;
    text-align: center;
    line-height: 150px;
    border-radius: 10px 10px 10px 10px;
    border-color: blue;
    border-width: 1px;
    border-style: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 500ms;
}

.boxstyle:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    transition: scale(1.1);
    transform: scale(1.1);
}

.boxstyle img {
    overflow: hidden;
}