body {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
}

hr {
  border: 3px solid rgb(60, 60, 60);
  border-radius: 5px;
}

/*content title css*/
.chapterName {
  color: rgb(60, 60, 60);
  background-color: none;
  width: 100%;
  height: 120px;
  line-height: 120px;
  font-size: 2em;
  font-weight: 1000;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  text-shadow: rgba(60, 60, 60, 0.5) 0.1em 0.1em 0.15em;
}

.titleStyle {
  width: 300px;
  border-bottom: 3px solid rgb(0, 0, 0);
  padding-bottom: 6px;
}

.chapterFooter {
  /*background-color: #56ff13;*/
  width: 100%;
  height: 120px;
  line-height: 120px;
  color: silver;
  font-size: 2em;
  font-weight: 1000;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

.footercontent {
  color: silver;
  font-size: 1.2em;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

/*background image scroll effect*/
/*http://www.shejidaren.com/css-fixed-scroll-background.html*/
.background_setup {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-01 {
  background-image: url("./img/background01.jpg");
}

.bg-img-02 {

  background-image: url("./img/background02.jpg");
}

.bg-img-03 {
  background-image: url("./img/background03.jpg");
}

.bg-img-04 {
  background-image: url("./img/background04.jpg");
}

/*div css*/
.section_headpage {
  /*filter: brightness(0.5);*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sectionBase {
  width: 100%;
  height: 100%;
  display: block;
  /*background-image: linear-gradient(180deg, #a1a1a1 5%, #ffffff, #a1a1a1 95%);*/
  background-color: rgb(250, 245, 230);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.footersetup {
  height: 100%;
  background-color: rgb(0, 19, 45);
  align-items: center;
  justify-content: center;
}

/*components*/
.section_padding {
  /*background-color: rgb(58, 248, 255);*/
  padding: 40px 40px 40px 40px;
}

/*fade effect*/
.fade {
  animation: fadein 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*icon setup*/
.iconset {
  padding: 15px 15px 15px 15px;
  transition: 0.5s;
  transform: scale(1);
  color: #999999;
}

.iconset:hover {
  color: #ffffff;
  transform: scale(1.2);
}

/*timeline setup*/
/*https://bootsnipp.com/snippets/xrKXW*/
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: repeating-linear-gradient(90deg, #686868, #ffffff, #686868);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 12px;
  height: 100%;
  z-index: 50;
}

ul.timeline>li {
  text-align: left;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(315deg, #6eff61, #ffffff);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

ul.timeline>li:before {
  content: " ";
  background: linear-gradient(135deg, #abc3fa, #002fff);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 100;
  left: 0px;
  width: 24px;
  height: 24px;
}

ul.timeline>div {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

ul.timeline>li>ol {
  list-style-type: square;
  font-family: "Noto Sans TC", sans-serif;
}