.main {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/*content css*/
.chapterName {
  background-color: #d5ffc4;
  width: 100%;
  height: 120px;
  line-height:120px;  
  font-size: 1.2em;
  font-weight: 1000;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}
.content {
  margin:0 auto;
  width:90%;
}
.title {
  background-color: #5dc4ff;
  width: 100%;
  height: 40px;
  line-height:40px; 
  font-size: 1.1em;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

/*div css*/
.div_gray_black {
  background: url("./img/background01.jpg") center;
  background-color: #0000ff;
  filter: brightness(0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.section_white {
  width:100%;
  height: 100%;
  background-color: white;
} 
.section_gray {
  width:100%;
  height: 100%;
  background-color: gray;
} 
.div_darkblue {
  height: 400px;
  background-color: darkblue;
  align-items: center;
  justify-content: center;
}

/*components*/
.test01 {
  background-color: rgb(58, 248, 255);
}
.test02 {
  background-color: rgb(0, 148, 25);
}
.test03 {
  background-color: rgb(105, 0, 224);
}
/*nav area*/
.toplogo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
/*headphoto area*/
.headphoto {
  height: 100%;
  /*background-color: darkblue;*/
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headphotomessage {
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.roundedimage {
  max-width: 150px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
  justify-content: center;
}
.roundedimage:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

/*block css*/
.block_rectangle {
  width:200px;
  height:100px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(0, 255, 0);
}
.block_square {
  width:100px;
  height:100px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(255, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
