.main {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/*content css*/
.navbarfont {
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
}

.chapterName {
  color: white;
  background-color: #56ff1300;
  width: 100%;
  height: 120px;
  line-height:120px;  
  font-size: 2em;
  font-weight: 1000;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}
.chapterPage {
  /*background-color: #56ff13;*/
  width: 100%;
  height: 120px;
  line-height:120px;
  color: silver;
  text-shadow: 0.1em -0.1em rgb(102, 102, 102);
  font-size: 1.5em;
  font-weight: 1000;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}
.chapterFooter {
  /*background-color: #56ff13;*/
  width: 100%;
  height: 120px;
  line-height:120px;
  color: silver; 
  font-size: 2em;
  font-weight: 1000;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}
.footercontent {
  color: silver; 
  font-size: 1.2em;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}
.content {
  color: white;
  margin:0 auto;
  width:90%;
  font-size: 1.5em;
}
.title {
  color: white;
  background-color: #5dc4ff00;
  width: 100%;
  height: 40px;
  line-height:40px; 
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

/*uparrow*/
.uparrow {
  color:#8d8d8d;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  font-size: 3em;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  transition: all 200ms;
}
.uparrow.arrowmove {
  right: -200px;
}
.uparrow:hover {
  color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  transition: scale(1.5);
  transform: scale(1.5); 
}
.uparrow:active {
  color: #fbff00;
}

/*background image scroll effect*/
/*http://www.shejidaren.com/css-fixed-scroll-background.html*/
.background_setup {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-img-01 {
  background-image: url("./img/background01.jpg");
 }
.bg-img-02 {
  background-image: url("./img/background02.jpg");
}
.bg-img-03 {
  background-image: url("./img/background03.jpg");
}
.bg-img-04 {
  background-image: url("./img/background04.jpg");
}

/*div css*/
.div_gray_black {
  /*filter: brightness(0.5);*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.section_white {
  width:100%;
  height: 100%;
  display: block;
  /*background-image: linear-gradient(180deg, #a1a1a1 5%, #ffffff, #a1a1a1 95%);*/
  background-color: #757575;
} 
.section_gray {
  width:100%;
  height: 100%;
  display: block;
} 
.footersetup {
  height: 100%;
  background-color: #00142e;
  align-items: center;
  justify-content: center;
}

/*components*/
.section_padding {
  /*background-color: rgb(58, 248, 255);*/
  padding:40px 40px 40px 40px;
}
.test02 {
  background-color: rgb(0, 148, 25);
}
.test03 {
  background-color: rgb(105, 0, 224);
}
/*nav area*/
.toplogo {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

/*headphoto area*/
.headphoto {
  height: 100%;
  /*background-color: darkblue;*/
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headphotomessage {
  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.roundedimage {
  max-width: 150px;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
  justify-content: center;
}
.roundedimage:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

/*fade effect*/
.fade {
  animation: fadein 2s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*icon setup*/
.iconset{
  padding:15px 15px 15px 15px;
  transition: 0.5s;
  transform: scale(1);
  color: #8d8d8d;
}
.iconset:hover{
  color: #ffffff;
  transform: scale(1.2);
}

/*timeline setup*/
/*https://bootsnipp.com/snippets/xrKXW*/
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: repeating-linear-gradient(90deg,#686868, #ffffff, #686868);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 12px;
  height: 100%;
  z-index: 50;
}
ul.timeline > li {
  text-align: left;
  margin: 20px 20px 20px 20px;
  padding:10px 10px 10px 10px;
  background: linear-gradient(315deg, #6eff61, #ffffff);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
ul.timeline > li:before {
  content: ' ';
  background: linear-gradient(135deg, #abc3fa, #002fff);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 100;
  left: 0px;
  width: 24px;
  height: 24px;
}
ul.timeline > div{
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
ul.timeline > li > ol{
  list-style-type: square;
  font-family: 'Noto Sans TC', sans-serif;
}

/*boxflex system*/
.box {
	display: inline-flex;
  padding: 5vw 5h;
  flex-wrap:wrap;
  width:100%;
  height: 100%;
  /*border-color:white;
  border-width:1px;
  border-style:solid;*/
  /*background-color: gray;*/
	justify-content: center;
	position: relative;
}
.boxstyle {
  flex: 1 1 1;
  width: 300px;
	height: 200px;
  margin: 30px 30px 30px 30px;
  text-align: center;
  line-height: 150px;
  border-radius: 10px 10px 10px 10px;
  border-color:blue;
  border-width:1px;
  border-style:solid;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 500ms;
}
.boxstyle:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  transition: scale(1.1);
  transform: scale(1.1); 
}
.boxstyle img{
  overflow: hidden;	
}

/*block css*/
.block_rectangle {
  width:200px;
  height:100px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(0, 255, 0);
}
.block_square {
  width:200px;
  height:200px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(255, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
